 *{
  box-sizing: border-box;
  color: rgb(51, 51, 51);
}
<<<<<<< HEAD
#body {
  margin: 0 100px 50px 100px;
}
/*
body {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
}

#body {
  width: 1500px;
} */
=======

a {
  text-decoration: none;
  color: salmon;
}

>>>>>>> 20ec4cbc7e8157de90edbf909c5bf06c84bd9382
