#item-ranking-body{
    /* border: 1px solid black; */
}

#ranking-nav {
    border: 1px solid #ccc;
    list-style: none;
}

.ranking-ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.rankingListName {
    width: 100%;
    text-align: center;
    display: block;
    cursor: pointer;
}

.rankingListName li {
    font-size: 1vw;
}

.rankingListName:hover {
    background-color: #87CEFA;
    border-radius: 3px;
}

.rankingListName:active {
    background-color: white;
}

.ranking-ul li {
    margin: 2vh 2.5vh;
}

#ranking-Container{
    border: 1px solid white;
    padding: 1% 2% 2% 2%;
    margin-top: 4vw;
}

.guide{
    /* border: 1px solid black; */
    border-bottom: 1px solid #ccc; 
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    padding: 0 1% 1% 1%;
    font-size: 1em
}

.rankList{
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
}

.rankList div:first-child .ranking-items .ranking-number::after {
    content: '🥇';
}

.rankList div:nth-child(2) .ranking-items .ranking-number::after {
    content: '🥈';
}

.rankList div:last-child article:last-child .ranking-number::after {
    content: '🥉';
}

.goldMedal::after {
    content: '🥇';
    font-size: 3em;
}

.ranking-items{
    /* border: 1px solid black;     */
    padding: 5px;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
    width: 100%;
    display: flex;
    text-align: left;
    /* justify-content: left; */
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.itemInfo {
    flex: 1;
    text-align: center;
}

.ranking-number{
    font-size: 3em
}

.ranking-item-img{
    width: 100px;
}

.ranking-item-img img{
    width: 100%;

}

.item-name{
    font-size: 1.1em;
    text-align: left;
    width: 15%;
    height: 50%;
    margin-left: 30px;
}

.item-price{
    /* border: 1px solid black; */
    font-size: 1.1em;
    width: 15%;
}

.item-store{
    /* border: 1px solid black; */
    font-size: 1.1em;
    width: 15%;
}

.item-score{
    /* border: 1px solid black; */
    font-size: 1.1em;
    width: 15%;
}

.favorites-item {
    display: inline-block;
    cursor: pointer;
    padding-right: 2vw;
}