#saleH {
  margin-bottom: 40px;
  margin-left: 220px;
}

#eventContainer {
  border: 1px solid black;
  margin-top: 80px;
}

#eventGroupContainer {
  text-align: center;
  margin-left: 200px;
}

#eventGroup {
  justify-content: space-around;
  width: 900px;
  display: inline-flex;
  padding: 10px;
  border: 1px solid black;
}

#eventGroup li {
  list-style: none;
  font-size: 26px;
}

#eventList {
  width: 900px;
  border: 1px solid black;
  margin: 0 200px 40px 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.event {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 300px;
  height: 350px;
  margin: 50px 50px 20px 50px;
  padding: 20px 20px 5px 20px;
}

.eventImg {
  height: 200px;
  display: block;
  width: 70%;
  border: 1px solid black;
}

.event img {
  display: block;
  width: 100%;
  height: 100%;
}

.eventInfo{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 auto ;
  height: 200px;
}

.eventInfo div {
  width: 50px;
  border: 1px solid black;
  font-size: 30px;
  text-align: center;
}

.eventInfo div:first-child {
  line-height: 90px;
  height: 110px;
}

.eventInfo div:nth-child(2) {
  height: auto;
  line-height: 50px;
  position: relative;
  bottom: -38px;
}

.test {
  text-align: center;
  width: 100%;
  height: 55px;
  border: 1px solid black;
}

aside {
  position: relative;
  left: 50px;
  float: left;
  margin: 0 auto;
  border: 1px solid black;
  width: 300px;
  padding: 20px 50px 20px 40px;
}

aside ul {
  list-style: none;
  font-size: 26px;
  padding: 0;
}

aside li {
  padding-left: 8px;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

#test1 {
  position: relative;
  top: 20px;
  left: 55px;
  display: inline-block;
  width: 180px;
  height: 30px;
}

#test1 img {
  display: block;
  width: 100%;
  height: 150px;
}