#loginPageContainer {
  width: 40%;
  border: 1px solid black;
  text-align: center;
  padding: 2vw;
  margin: 0 auto 10vh;
}

#loginPageContainer p a {
  text-decoration: underline;
  text-underline-position: under;
  color: #35a8f0;
}

#loginImg {
  margin: 0 auto;
  width: 50%;
}

/* #loginImg:nth-child(1) {
  width: 30%;
}

#loginImg img:nth-child(2) {
  width: 100%;
} */

#loginImg img {
  display: block;
  width: 100%;
  height: auto;
}

#inputContainer {
  display: inline-block;
  vertical-align: middle;
}

.loginInput {
  width: 200px;
  height: 30px;
  border: 1px solid black;
  border-radius: 4px;
  padding-left: 10px;
}

.loginInput:focus {
  outline: none;
  border: 2px solid black;
}

#inputContainer div {
  margin: 20px;
  margin-right: 10px;
}

#loginButton {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(233, 230, 230);
}

#loginButton:active {
  background-color: #87CEFA;
  color: white;
}