#item-ranking-body{
    border: 1px solid black;
}
#ranking-Container{
    border: 1px solid white;
    padding: 2%;
}
.guide{
    /* border: 1px solid black; */
    border-bottom: 1px solid #ccc; 
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    padding: 0 1% 1% 1%;
    font-size: 1em

}
.rankList{
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
}
.ranking-items{
    /* border: 1px solid black;     */
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
    width: 100%;
    display: flex;
    text-align: left;
    /* justify-content: left; */
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
/* align-items: center; 정렬 (세로..?)*/

.ranking-number{
    font-size: 3em
    
}
.ranking-item-img{
    width: 100px;
}
.ranking-item-img img{
    width: 100%;

}
.item-name{
    font-size: 1.1em;
    text-align:left;
    /* border: 1px solid black; */
    width: 15%;
    height: 50%;
    
}
.item-price{
    /* border: 1px solid black; */
    font-size: 1.1em;
    width: 15%;
}
.item-store{
    /* border: 1px solid black; */
    font-size: 1.1em;
    width: 15%;
}
.item-score{
    /* border: 1px solid black; */
    font-size: 1.1em;
    width: 15%;
}